.movie-bar {
    display: flex;
    overflow: hidden; /* Esconde o conteúdo que sai da área visível */
    white-space: nowrap;
    padding: 10px 0;
    background-color: #6e5029; /* Cor de fundo clara atrás das imagens */
    border-radius: 8px; /* Arredondamento dos cantos do fundo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve ao fundo */
    position: relative; /* Para posicionar o elemento animado corretamente */
    font-family: 'Josefin Sans', sans-serif; /* Adicionar a nova fonte */
}

.movie-items-container {
    display: flex;
    /* A animação é definida pelo JavaScript */
}

.movie-item {
    display: inline-block;
    margin-right: 10px;
}

.movie-poster-container {
    position: relative;
    display: inline-block;
}

.movie-poster {
    max-width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    border-radius: 8px; /* Arredondamento dos cantos da imagem */
    display: block;
}

.movie-title {
    position: absolute;
    bottom: 8px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    color: #c47448;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px; /* Ajuste conforme necessário */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif; /* Adicionar a nova fonte */
}

.movie-type {
    border-bottom: 1px solid #c47448;
    display: inline-block; /* Mantém a linha apenas embaixo do texto */
    display: flex;
    overflow: hidden; /* Evita a barra de rolagem */
    white-space: nowrap;
    padding: 10px 0;
    color: #c47448;
    font-family: 'Josefin Sans', sans-serif; /* Adicionar a nova fonte */
}

/* Adiciona a animação de rotação */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}