.movie-bar {
    background-color: #6e5029;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Josefin Sans', sans-serif;
}

.movie-items-container {
    display: flex;
    overflow: hidden;
}

.movie-item {
    margin: 10px; /* Adiciona margem ao redor do item */
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens dentro do .movie-item */
    justify-content: center; /* Centraliza horizontalmente se necessário */
}

.movie-poster-container {
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente a imagem dentro do .movie-poster-container */
    justify-content: center; /* Centraliza horizontalmente a imagem dentro do .movie-poster-container */
    padding: 4px; /* Adiciona espaçamento interno ao redor da imagem */
}

.movie-poster {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    display: block;
}

.movie-title {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: #c47448;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.movie-type {
    border-bottom: 1px solid #c47448;
    display: inline-block; /* Mantém a linha apenas embaixo do texto */
    display: flex;
    white-space: nowrap;
    padding: 10px 0;
    color: #c47448;
    font-family: 'Josefin Sans', sans-serif; /* Adicionar a nova fonte */
}

.slick-slide {
    text-align: center;
}
