.container p {
    color: #c47448; /* Define a cor do texto como branca */
    margin: 5; /* Remove a margem padrão para aproximar o texto da imagem */
    font-family: 'Josefin Sans', sans-serif;
}

.container .row {
    align-items: center; /* Alinha verticalmente o conteúdo na linha */
}

.container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Adiciona bordas arredondadas na imagem */
    margin-right: 5px;
}

.btn {
    margin-right: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção de 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #c47448;
    margin-bottom: 20px; /* Espaçamento abaixo do vídeo */
    font-family: 'Josefin Sans', sans-serif;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-center {
    text-align: center;
}

.torrent-button {
    background-color: #d3af86; /* Cor de fundo dos botões */
    color: #c47448; /* Cor do texto dos botões */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none; /* Remove o sublinhado dos links */
    display: inline-block; /* Ajusta o comportamento do botão */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.torrent-button:hover {
    background-color: #f5d2aa; /* Cor de fundo ao passar o mouse sobre os botões */
}